# Database Configuration
DB_URL=jdbc:postgresql://localhost:5432/godot_launch
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Mail Configuration
MAIL_USERNAME=your_gmail_here@gmail.com
MAIL_PASSWORD=your_gmail_app_password_here

# AWS S3 Configuration
AWS_S3_BUCKET=godot-launch-storage
AWS_S3_REGION=ap-southeast-2
AWS_ACCESS_KEY=your_aws_access_key_here
AWS_SECRET_KEY=your_aws_secret_key_here
